.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-default {
  color: #777;
  border: 0;
  margin: auto;
  background: #f6f3f3;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: bolder;

  &:hover {
    color: var(--header-color);
  }
}

.options-button-container {
  margin-left: 20px;
}
