.header {
  height: var(--header-height);
  width: var(--header-width);
  background: var(--header-color);
  box-shadow: 0 0 5px 1px rgba(0,0,0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .rate-container, .last-refreshed {
    color: white;
    font-weight: 600;
    font-size: var(--header-font-size);
  }

  .refresh-icon {
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}