@import url("https://fonts.googleapis.com/css?family=Lato");
@import "css-variables";
@import "components/header";
@import "components/body";
@import "components/table";
@import "components/date-picker";

//Minimal normalization
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
